body {
    padding: 100px;
}

.submit-area {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    padding: 40px;
}

#transaction-area {
    display: none;
}

.deposit {
    margin: 0 20px;
    background-color: slateblue;
}

.withdraw {
    background-color: lightsalmon;
}

.bank-balance {
    background-color: orange;
}